# =============================================
# SCREENCOLD-EXTENSION - Production Environment
# =============================================

# =============================================
# API
# =============================================
NEXT_PUBLIC_API_URL="https://app.screencold.com/api"
NEXT_PUBLIC_APP_URL="https://app.screencold.com"

# =============================================
# ENVIRONMENT
# =============================================
NODE_ENV="production"